<div >
<div class="card" >
        <img src="..\assets\images\social-media\fb-group-card-image.jpg" class="card-img-top" alt="..." style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">Hornet Lovers Sri Lanka</h5>
          <p class="card-text">Our facebook group for knowledge sharing,buying and selling for Honda Hornet Sri lanka Lover.</p>
          <p class="card-text">Join us!</p>
          <a href="https://www.facebook.com/groups/211816346652592/" class="btn btn-primary">Join Fb Group </a>
        </div>
      </div>
    </div>