
  <header>
      <mat-toolbar color="primary"><span>ikman-lk <app-login></app-login></span></mat-toolbar>
  </header>

  <div class="container-flud">

    <div class="container">
      <app-slideshow></app-slideshow>
      <mat-toolbar color="primary" style="text-align: justify"><span>we care always</span></mat-toolbar>
    </div>

    <div class="container">

      <div class="row">
       <div class="col-12 col-sm-4">
          <app-filter></app-filter>
         </div>

        <div class="col-12 col-sm-8">
         <mat-toolbar color="warn"><span>ikman-lk</span></mat-toolbar>
          <app-advertisements></app-advertisements>
         </div>
     </div>

  </div>

    <footer >
        <mat-toolbar color="primary" ><span>footer</span></mat-toolbar>
    </footer>