<div class="card">
        <div class="card-body"><h5><B>Filter</B></h5>
            <br>
<form>
        <div class="form-group row">
                <label for="categorySelection" class="col-sm-4 col-form-label">Category</label>
                <div class="col-sm-8">
                <select class="form-control" id="categorySelection">
                        <option>--Select--</option>
                        <option>Bike</option>
                        <option>Car</option>
                        <option>Van</option>
                        <option>Jeep</option>
                        <option>Lorry</option>
                        <option>Bus</option>
                        </select>
                    </div>            
            </div>

            <div class="form-group row">
                    <label for="brandSelection" class="col-sm-4 col-form-label">Brand</label>
                    <div class="col-sm-8">
                    <select class="form-control" id="brandSelection">
                            <option>--Select--</option>
                            <option>Aprilia</option>
                            <option>Bajaj</option>
                            <option>BMW</option>
                            <option>Chapper</option>
                            <option>Demak</option>
                            <option>Haley Davison</option>
                            <option>Heero</option>
                            <option>Hond</option>
                            <option>Kinetic</option>
                            <option>KTM</option>
                            <option>Loncin</option>
                            <option>Mahindra</option>
                            <option>Ranamoto</option>
                            <option>Royal Enfield</option>
                            <option>Scooty</option>
                            <option>Suzuki</option>
                            <option>TVS</option>
                            <option>Vespa</option>
                            <option>Yamaha</option>
                            <option>*Other Brand</option>
                        </select>
                        </div>            
                </div>      
                         
        <div class="form-group row">
          <label for="modelSelection" class="col-sm-4 col-form-label">Model</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="modelSelection">
          </div>
        </div> 
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-4 pt-0">Condition</legend>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  New
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Used
                </label>
              </div>
              <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" >
                <label class="form-check-label" for="gridRadios3">
                  Reconditioned
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="form-group row">
          <div class="col-sm-2">Checkbox</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1">
              <label class="form-check-label" for="gridCheck1">
                Verified Seller
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
          </div>
        </div>
      </form>
      
    </div>
</div>